# Top-level .gitignore

# Node artifacts
node_modules/
dist/
*.log

# Editor artifacts
.vscode/
.DS_Store

# Puzzle output
*.ecto.json

# System artifacts
.env
package-lock.json

# Elixir build files
server/_build/
server/deps/
server/.elixir_ls/

# Ignore generated JS files
*.js
